button {
  font: inherit;
  background-color: rgb(206, 106, 106);
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
}

a {
  background-color: rgb(206, 106, 106);
  padding: 10px 15px;
  border-radius: 20px;
}

.button-link {
  background: none;
}
